{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block aboutact %}active{% endblock aboutact %}

{% block body %}
<div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">It all started with iCoder's idea. <span
                    class="text-muted">It’ll
                    blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                prose here.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="/static/img/col1.jpg" alt="">
        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">We started iCoder in 2023. <span class="text-muted">See
                    for
                    yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how
                this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid" src="/static/img/col2.jpg" alt="">
        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Now we're here. <span class="text-muted">It’ll
                    blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                prose here.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="/static/img/col3.jpg" alt="">
        </div>
    </div>
</div>
{% endblock body %}