{% extends 'base.html' %}

{% block title %}Search results{% endblock title %}
{% block blogact %}active{% endblock blogact %}

{% block body %}
<div class="container my-4">
    <h2>Search results:</h2>
    {% if allPosts|length < 1 %}
    <p>No search results</p>
    Your search query : <b>{{query|truncatechars:25}}</b> did not match any documents. <br>
    Suggestions:
    <ul>
    <li>Make sure that all words are spelled correctly.</li>
    <li>Try more general keywords.</li>
   <li> Try fewer keywords.</li>
   <li> Try different keywords.</li>
    </li>
    </ul>
    {% endif %}
        {% for post in allPosts %}
        <div class="card col-md-8 my-3">
            <div class="card-header text-primary">
              <strong>Article by {{post.author}}</strong>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.content|truncatechars:150}}</p>
              <a href="#" class="btn btn-primary">Continue reading </a>
            </div>
          </div>
        {% endfor %}
</div>
{% endblock body %}